.container {
    display: flex;
}

.leaflet-container {
    width: 100%;
    height: 100vh;
}

.list {
    width: 200px;
    height: 100vh;
    transition: .3s;
}

.tooltip-item {
    font-size: 11px;
}

.tooltip-title {
    font-weight: bold;
}

.burger-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: blue;
    border-radius: 50%;
    z-index: 10000;
    cursor: pointer;
    transition: .5s ease;
}

.burger-button:hover {
    filter: brightness(1.2);
}

.burger-line::before {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
    transform: translateY(-9px);
}

.burger-line {
    width: 25px;
    height: 3px;
    background: #fff;
}

.burger-line::after {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
    transform: translateY(6px);
}